<!DOCTYPE html>
<html lang="az">
<head>
	
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<meta charset="utf-8" />
	<title>IFRS16</title>

	<link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="css/lists.css" />

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600i,700" rel="stylesheet">

	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/responsive.css" />
</head>
<body>

	<header class="header full">

		<div class="full header_bottom">

			<div class="center">
				
				<div class="header_bottom_in full">
					
					<nav>
						<ul class="menu">
							<li>
								<a href="home">Home</a>
							</li>

							<li>
								<a href="create_contract">Create Contract</a>
							</li>
 
							<li>
								<a href="contract_overview">Contract Overview</a>
							</li>

							<li>
								<a href="admin_panel">Admin Panel</a>
							</li>

							<li>
								<a href="analyses">Analyses</a>
							</li>

							<li>
								<a href="contact">Contact</a>
							</li>
						</ul>
					</nav>

					<a href="login" class="sign_up">Log in</a>
				</div>

			</div>
		</div>

	</header
	</br>



<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div id="lists">
	<div id="list_one">
		<form class="input" method="post" action="#" name="mainform">
		<div class="select">
							<label for="selectContract">Select Contract</label>
							</br>
							<body>
							<select name="selectName" id="selectName" form_id="Nam">
							<option value = "allNames">All Contracts</option>
							{% for row in names%}
							<option value = "{{row.1}}">{{row.0}}</option>
							{% endfor %}
							</select>
							</body>
							</br>
							</br>
		</div>
							
	</div>
	<div id="list_two">
		<form class="input" method="post" action="#" name="mainform">
		<div class="select">
							<label for="selectCategory">Select Category</label>
							</br>
							<body>
							<select name="selectCategory" id="selectCategory" form_id="Cate">
							<option value = "allCategories">All Categories</option>
							{% for row in categories%}
							<option value = "{{row.1}}">{{row.0}}</option>
							{% endfor %}
							</select>
							</body>
							</br>
							</br>
	</div>
	</div>
	<div id="list_three>
		<form class="input" method="post" action="#" name="mainform">
		<div class="select">
							<label for="selectCompany">Select Company</label>
							</br>
							<body>
							<select name="selectCompany" id="selectCompany" form_id="Comp">
							<option value = "allCompanies">All Companies</option>
							{% for row in companies%}
							<option value = "{{row.1}}">{{row.0}}</option>
							{% endfor %}
							</select>
							</body>
							</br>
							</br>
	</div>
	</div>
		<div id="list_four>
		<form class="input" method="post" action="#" name="mainform">
		<div class="select">
							<label for="selectCurrency">Select Currency</label>
							</br>
							<body>
							<select name="selectCurrency" id="selectCurrency" form_id="Curr">
							<option value = "allCurrencies">All Currencies</option>
							{% for row in currencies%}
							<option value = "{{row.1}}">{{row.0}}</option>
							{% endfor %}
							</select>
							</body>
							</br>
							</br>
	</div>
	</div>
		</div>
		<div id="list_five">
			<head>
			<title>Monthly Payment</title>
			</head>
			<body>
			<select name = "selectPayment">
			<option value = "more" selected>more</option>
			<option value = "less">less</option>
			</select>
			</body>
		<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="selectPayment2" id="selectPayment2"  placeholder="Enter value"/>
								</div>
						</div>
	</div>
	
	</div>
		
						<button type="submit"><span class="button"></span>Apply filter</button>
						</form>

<div class="table-responsive" id="sailorTableArea">
    <table id="sailorTable" class="table table-striped table-bordered" width="100%">
	
 
        <thead>
            <tr>
                <th>Contract Name</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Monthly payment</th>
                <th>Creator</th>
                <th>Category</th>
                <th>Company</th>
                <th>Currency</th>
                <th>IRR</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
			<tr>
				<td>{{ row.0 }}</td>
				<td>{{ row.1 }}</td>
				<td>{{ row.2 }}</td>
				<td>{{ row.3 }}</td>
				<td>{{ row.4 }}</td>
				<td>{{ row.5 }}</td>
				<td>{{ row.6 }}</td>
				<td>{{ row.7 }}</td>
				<td>{{ row.8}}</td>
			</tr>
			{% endfor %}
      
        </tbody>
    </table>
    </div>